/*
	@name tentang
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1200px; width: 1200px; height: 842px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

a{
color:#22b3a4;
text-decoration : none;
}

#_bg__tentang {
	top: 0px;
	left: 0px;
	width: 1200px;
	height: 842px;
	background:rgba(255,255,255,1);
}


#rectangle {
	top: 18px;
	left: 909px;
	width: 90px;
	height: 40px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background:rgba(38,70,83,1);
}


#rectangle_ek1 {
	top: 18px;
	left: 1019px;
	width: 104px;
	height: 44px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid #264653;
	background:rgba(253,253,253,1);
}


#sign_in {
	top: 28px;
	left: 929px;
	width: 71px;
	height: 31px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 16px;
	text-align: left;
	line-height: 20px;
	color:#FFFFFF;
}


#sign_up {
	top: 28px;
	left: 1041px;
	width: 77px;
	height: 31px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 16px;
	text-align: left;
	line-height: 20px;
	color:#000000;
}


#home {
	top: 28px;
	left: 156px;
	width: 63.5px;
	height: 30.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15px;
	text-align: left;
	line-height: 20px;
	color:#000000;
}


#layanan_kami {
	top: 28px;
	left: 239px;
	width: 136px;
	height: 31px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 16px;
	text-align: left;
	line-height: 20px;
	color:#000000;
}


#daftar_negara_potensial {
	top: 28px;
	left: 391px;
	width: 195px;
	height: 31px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 16px;
	text-align: left;
	line-height: 20px;
	color:#22B3A4;
}


#about {
	top: 28px;
	left: 618px;
	width: 73px;
	height: 31px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 16px;
	text-align: left;
	line-height: 20px;
	color:#000000;
}


#logo_1 {
	top: 14px;
	left: 76px;
	width: 39px;
	height: 48px;
}


#tentang_kami {
	top: 172px;
	left: 403px;
	width: 449px;
	height: 74px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 60px;
	font-weight: bold;
	text-align: left;
	line-height: 32px;
	padding-top: 28px;
	margin-top: -28px;
	color:#264653;
}


#bersamaekspor_id_merupakan_platform_edukasi_ekspor_berbasis_digital_untuk_mewujudkan_100_ribu_ekportir_di_seluruh_indonesia_pada_tahun_2030__platform_ini_dapat_digunakan_oleh_semua_kalangan_masyarakat__baik_mahasiswa__petani__dan_para_pelaku_umkm_yang_ingin_belajar_ekspor__konsultasi_dokumen_perizinan__dan_rekomendasi_logistik_kepada_buyer__platform_ini_berbasis_website_sebagai_media_untuk_berlangganan_dan_didukung_sosial_media_instagram_sebagai_wadah_promosi_serta_pengenalan_layanan_yang_tersedia__fitur_yang_ditawarkan_cukup_beragam__seperti_video_edukasi__konsultasi_produk__dokumen_perizinan__dan_layanan_logistik__serta_database_negara_negara_potensial_ekspor_di_seluruh_dunia_ {
	top: 269px;
	left: 72px;
	width: 1017px;
	height: 219px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	text-align: justified;
	line-height: 34.200000762939px;
	margin-top: -5.4000002543132px;
	height: 237px;
	color:#264653;
}

#group_8 {
	top: 607px;
	left: 279px;
	width: 715px;
	height: 182px;
}

#metode_pembayaran {
	top: 0px;
	left: 0px;
	width: 266.5px;
	height: 35.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 21px;
	text-align: left;
	color:#16363A;
}


#mandiri {
	top: 41px;
	left: 0px;
	width: 182.5px;
	height: 28.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 17px;
	text-align: left;
	color:#264653;
}


#gopay {
	top: 68px;
	left: 0px;
	width: 195.5px;
	height: 28.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 17px;
	text-align: left;
	color:#264653;
}


#ovo {
	top: 95px;
	left: 0px;
	width: 161.5px;
	height: 28.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 17px;
	text-align: left;
	color:#264653;
}


#ikuti_kami {
	top: 0px;
	left: 466px;
	width: 175.5px;
	height: 35.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 21px;
	text-align: left;
	color:#16363A;
}


#tentang_eksporinaja__id {
	top: 41px;
	left: 466px;
	width: 271.5px;
	height: 28.5px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 17px;
	text-align: left;
	color:#264653;
}


#___2022_all_rights_reserved_ {
	top: 170px;
	left: 254px;
	width: 181px;
	height: 20px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 12px;
	text-align: center;
	color:#16363A;
}


#group_17 {
	top: 18px;
	left: 846px;
	width: 42.5px;
	height: 35.5px;
}



/* Add your custom CSS here */
